# ==============================
# ENTORNO VIRTUAL
# ==============================
DjangoPildoras5_12/
venv/
env/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# DJANGO
# ==============================
db.sqlite3
*.log
media/

# ==============================
# ARCHIVOS DE SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS CODE
# ==============================
.vscode/

# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env